body{
    padding-top: 50px;
}

.modal-body > .form-inline,
.modal-body > .form-inline > .form-group,
.modal-body > .form-inline > .form-group > .input-group,
.modal-body > .form-inline > .form-group > .input-group > .input-group-addon
{
  width: 100%;
}

.modal-body > .form-inline > .form-group > .input-group > .form-control
{
    width: auto;
}

.nav.nav-sidebar>li>a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    /* margin-top: 0px; */
    /* height: 100vh; */
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    /* border-right: 1px solid #eee; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

/* Sidebar navigation */
.nav-sidebar {
  /* margin-right: -21px; */ /* 20px padding + 1px border */
  /* margin-bottom: 20px; */
  /* margin-left: -20px; */
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: rgba(0, 0, 0, .87);
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #E0E0E0;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
*END
*/

.notification_p{
    margin: 10px 0 10px 0;
    font-weight: 700;
}

.bs-checkbox input
{
    width: 20px;
    height: 20px;
}

.modal-delete
{
    margin-top: 15%;
    /* margin: 25%; */
}

.buttonWhite
{
    background-color: rgb(255,255,255);
    border: transparent;
    height: 36px;
    width: 88px;
    font-size: 14px;
}

.buttondelete:hover
{
    color: rgba(212, 63, 58, 0.87);
    background-color: rgba(212, 63, 58, 0.12);
}

.btn.btn-primary.btn-lg.buttonWhite:hover
{
    color: rgba(22, 160, 133, 0.87);
    background-color: rgba(22, 160, 133, 0.12);
}

.modal-content.modal-sm
{
    margin-left: auto;
    margin-right: auto;
}

.projectSelectedEmployee
{
    color: #337ab7 !important;
}

.titleDescription
{
    cursor: pointer;
}

.list-icons
{
    bottom: auto;

    display: inline-block;
    font-size: 20px !important;
    left: auto;

    opacity: .87;

    position: relative;
    right: auto;
    top: 1px;
}

.btn.btn-warning.btn-circle
{
    border-color: transparent;
}

.section-colums
{
    margin-bottom: 0;
    width: 100%;
}

.colums
{
    font-weight: 500;

    width: 1160px;
}

#toDoColum
{
    /* margin-left: 0; */
}

.colum
{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);/* clear: left; */display: block;/* float: left; *//* margin: 1%; *//* margin-left: 28px; */padding: 0;/* width: 340px; */}

.table > tbody > tr.success:hover>td,
.table > tbody > tr.success:hover>th,
.table > tbody > tr:hover > td.success,
.table > tbody > tr:hover > th.success,
.table > tfoot > tr.success:hover>td,
.table > tfoot > tr.success:hover>th,
.table > tfoot > tr:hover > td.success,
.table > tfoot > tr:hover > th.success,
.table > thead > tr.success:hover>td,
.table > thead > tr.success:hover>th,
.table > thead > tr:hover > td.success,
.table > thead > tr:hover > th.success
{
    background-color: #d2f1c5;
}

.table > tbody > tr.warning:hover>td,
.table > tbody > tr.warning:hover>th,
.table > tbody > tr:hover > td.warning,
.table > tbody > tr:hover > th.warning,
.table > tfoot > tr.warning:hover>td,
.table > tfoot > tr.warning:hover>th,
.table > tfoot > tr:hover > td.warning,
.table > tfoot > tr:hover > th.warning,
.table > thead > tr.warning:hover>td,
.table > thead > tr.warning:hover>th,
.table > thead > tr:hover > td.warning,
.table > thead > tr:hover > th.warning
{
    background-color: #faf2cc;
}

.sprintHeader
{
    background-color: #009688;
    color: rgba(255,255,255, .87);
    padding: 15px;
}

.bodySprint
{
    background-color: #f1f1f1;
    color: transparent;
    min-height: 360px;
    margin-bottom: auto;
    padding: 0;
}


.cardSprint
{
    background-color: #f3a33e;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-weight: 700;
    /* margin-bottom: 4px; */
    padding: 15px;
}

.cardSprint:hover
{
    background-color: #ffab40;
    color: #fff;
}

.bodySprint > li
{
    list-style: none;

    text-align: center;
}

.bodySprint > li > a
{

    color: rgba(255,255,255, .87);
    text-decoration: none;
}

#nav-widget #first
{
    padding: 0;
}

#table_comment .panel-heading
{
    font-weight: 600;

    padding: 0 0 0 10px;
}

#table_comment .panel-body
{
    padding: 0 0 0 30px;
}

li>a>i.glyphicon
{
opacity: .87;
margin-right: 32px;
}

.btn-circle > .material-icons
{
    font-size: 20px !important;
}

.btn-circle
{

    border-color: #4db6ac;
    font-size: 12px;
    height: 30px;
    line-height: 1.428571429;
    padding: 0;

    text-align: center;

    width: 30px;
}

#finalizeButton:hover
{
    background-color: #00aa9a;
    border-color: #00aa9a;
    color: #fff;
}

#addButton:hover
{
    background-color: #00aa9a;
    border-color: #00aa9a;
    color: #fff;
}

#deleteProject:hover
{
    border-color: red;
}

#deleteBacklog:hover
{
    border-color: red;
}

#table_comment
{
    padding: 0;
}

.btn-circle.btn-lg
{
border-radius: 4%;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
/* font-size: 18px; */
height: 36px;
/* left: 20px; */
/* line-height: 1.33; */
margin-right: 8px;
padding: 0;
position: relative;
top: 20px;
/* top: 35px; */
width: 88px;
/* z-index: 51; */
}

.btn-circle.btn-xl
{

    border-radius: 35px;
    font-size: 24px;
    height: 70px;
    line-height: 1.33;
    padding: 10px 16px;

    width: 70px;
}

.centerize
{
    text-align: center;
}

#nav-widget li
{

    border: 0;
    /* border-bottom: 1px solid #fff; */
    padding-left: 2rem;
}

#nav-widget li:hover
{
    border-left: 3px solid #009688;
}

textarea
{
    resize: none;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
#navbar-brand
{
color: #fff;
/* float: left; */
/* font-family: 'FARRAY', Helvetica, sans-sarif; */
/* font-size: 1.5rem; */
font-weight: 700;
/* margin: 0; */
}

#userNameLogin
{
color: #fff;
/* float: right; */
/* font-size: 16px; */
/* font-weight: 700; */
/* margin-right: 0; */
}

#addButton
{
    background-color: #009688;
    border-color: #009688;
    color: #E0F2F1;
    margin-bottom: 10px;
}

.navbar-top-right
{

    color: #fff;
    font-size: 20px;

    text-align: center;
}

.side-nav li:nth-child(1)
{

    background-color: #ecf0f1;
    /* padding: 0; */
    text-align: center;
}

#projectSelected
{

    color: #009688;
    font-size: 1.2rem;
    font-weight: 600;

    padding-left: 15px;

    justify-content: center;
}

#finalizeButton
{
    background-color: #009688;
    border-color: #009688;
    color: #fff;
    /* left: 25px; */
    margin-bottom: 10px;;
    /* padding: 6px 0; */
}


/* MEETING */
.panel-meeting-header
{
    color: #E0F2F1;
    background-color: #26A69A;
}

.meeting-title>a:hover
{
    text-decoration: none;
    color: #E0F2F1;
}

.panel-body-meeting
{
    background-color: #E0F2F1;
    padding-bottom: 15px;
}

.panel-body-meeting>h4,
.panel-body-meeting>p
{
    color: rgba(0,0,0, .87);
    margin: 0 0 5px 0;
}

address>p
{
    text-indent: 15px;
    text-align: justify;
}
